@font-face {
  font-family: Avenir;
  src: url("./../assets/fonts/AvenirNextLTPro-Regular.otf");
}
.Avenir {
  font-family: Avenir;
}

.mobile-only {
  display: none;
}
.mobile-none {
  display: block;
}
@media screen and (max-width: 800px) {
  .mobile-only {
    display: block;
  }
  .mobile-none {
    display: none;
  }
}

#root {
  min-height: 100%;
  height: 100%;
  font-family: "Avenir Next", Avenir, Verdana, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}
a.primary {
  color: #0f204b !important;
}
.layout-header {
  height: 70px;
}
.layout-header {
  height: 64px;
  border-bottom: solid 1px #f0f0f0;
  .logo {
    min-width: 180px;
  }
  .sys-name {
    margin-right: 10px;
  }
  .header-icons .ant-col {
    text-align: center;
  }
  .svgIcon {
    width: 24px;
    height: 24px;
  }
  .avatar {
    background-color: #fff;
    vertical-align: middle;
    margin-right: 20px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid #5ba7c7;
    color: #002a3e;
    display: inline-block;
    text-align: center;
    font-style: 16px;
  }
}
.layout-loading {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  margin-top: -200px;
}
.layout-sidebar {
  border-right: solid 1px #f0f0f0;
  .menubar-icon {
    font-size: 18px;
  }
}
.ant-main {
  min-height: 600px;
}
.layout-footer {
  background-color: #f3f8fb;
  padding: 56px 30px;
  font-size: 16px;
}

.footer-icons {
  color: #444;
  padding: 8px 20px;
  .copyright {
    margin-right: 1rem;
  }
  a {
    margin-left: 1rem;
  }
}

.status-icon svg {
  width: 20px;
  height: 20px;
}
.administration > .ant-tabs-nav .ant-tabs-tab-active {
  background-color: #f1f1f1;
}
