:root {
  --gap: 15px;
  --col2: calc((100% - (2 * var(--gap))) / 6);
  --col4: calc((100% - (2 * var(--gap))) / 3);
}

.gridlayout {
  margin-top: 10px;
  border: 1px solid pink;
  width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--gap);
  grid-auto-flow: dense;
}

.gridlayout div {
  border: 1px solid olive;
  height: 200px;
  cursor: pointer;
}
.gridlayout .grid-column-4 {
  grid-column: span 2;
  grid-row: span 2;
  height: 100%;
  min-height: 400px;
}

.gridlayout .grid-column-3 {
  grid-column: span 2;
  grid-row: span 1;
}

.gridlayout .grid-column-5 {
  grid-column: span 1;
  grid-row: span 2;
  height: 100%;
  min-height: 200px;
}

.draggable {
  position: relative;
}
